/* 

--- TYPOGRAPHY




FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Line heights: 1 (default)

Font weights: 400 (default)

Letter Spacing 
0.75 

--- COLORS 

Primary: #e67e22

Tints: 
#fdf2e9
#fae5d3
Shades: 
Accents:
Greys: #555 
    #333
    #6f6f6f lightest grey allowed on #fdf2e9


--- SHADOWS

--- BORDER RADIUS

9px

--- WHITE SPACE

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  /* equivalent to 10px since default is typically 16px */
  /* percentage of users browser default font-size setting */
  overflow-x: hidden;
  /* Does not work on safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "genos";
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
